<div class="container">
    <div class="row">
        <div class="details col-md-6">
            <div class="card mb-4">
                <img [src]="product.Iphone || product.BabyCar || product.HpDesktop || product.Shoes || product.Apple || product.Batman"
                    alt="Product image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><strong>Category: </strong> {{ product.Category }}</h5>
                    <p class="card-text"><strong>Description: </strong>{{ product.description }}</p>
                    <p class="card-text"><strong>Price:</strong> ₹ {{ product.price }}</p>
                </div>
                <div class="card-button">
                     <button class="cart btn-primary" (click)="addToCart()" >Add to Cart</button>
                     <button class="cart btn-primary" (click)="onBack()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>